<style>
        body {
            margin: 8;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            line-height: 1, 5;
            background: #ffffff;
            background-image: radial-gradient(rgb(254, 229, 229) 10%, transparent 0), radial-gradient(rgb(254, 229, 229) 10%, transparent 0);
            background-size: 240px 240px;
            background-position: 0 0, 120px 120px;
            
        }
        .container {
            width: 1140px;
            justify-content: flex-start;
        }

        .page {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            max-width: 900px;
            margin: 0 auto;
            padding: 60px;
        }

        .page__header {
            margin-bottom: 20px;
        }

        .page__header .photo {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            overflow: hidden;
        }

        .page__header .photo img {
            width: 350px;
            margin-left: -30px;
            margin-top: -30px;
            
        }
        .navbar-brand img {    
            width: 50px;
        }

        .page__header .title {
            text-align: center;
            margin-top: 50px;
            line-height: 1.2;
        }

        h1 {
            font-weight: 700;
            font-size: 50px;
            margin-bottom: 10px;
        }

        .title__occupation {
            font-size: 21px;
        }

        .page__body {
            margin-bottom: 20px;
        }

        .page__footer {
            text-align: center;
            font-weight: 500;
        }
    </style>